/* Vollständige Höhe für html und body */
html, body {
  height: 100%;
  margin: 0;
}

/* Flexbox zum Zentrieren des Inhalts */
body {
  margin: 0;
  display: flex; /* Verwende Flexbox */
  flex-direction: column; /* Gesamte Seite ausfüllen */
  justify-content: top; /* Vertikale Zentrierung */
  align-items: center, center; /* Horizontale Zentrierung */
  min-width: 100%; /* Die volle Breite einnehmen */
  min-height: 100vh; /* Die volle Höhe des Viewports einnehmen */
  background-color: var(--background-color); /* Hintergrundfarbe bleibt gleich */
  color: var(--text-color); /* Textfarbe je nach Modus */
}

/* Container für den Inhalt */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 48px;  
}


/* Light Mode Farben */
:root {
  --background-color: white;  /* Heller Hintergrund */
  --text-color: black;  /* Dunkler Text */
  --link-color: black;  /* Standard-Link-Farbe */
  --link-hover-color: #000046;
  --button-background:  lightblue;  /* Button Hintergrund */
  --button-hover-background: #65b0ff;  /* Button Hover Hintergrund */


  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark Mode Farben */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(32, 32, 32);  /* Dunkler Hintergrund */
    --text-color: white;  /* Heller Text */
    --link-color: white;  /* Link-Farbe im Dunkelmodus */
    --link-hover-color: light-blue; 
    --button-background: #00394d;  /* Button Hintergrund im Dunkelmodus */
    --button-hover-background: #002546;  /* Button Hover Hintergrund im Dunkelmodus */
  }
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--link-hover-color);
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--button-hover-background);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
