/*Für Komponenten, die nicht Teil von MUI sind*/
.Link-root {
  color: 'black' !important; /* Vererbt die Textfarbe */
  text-decoration: none !important; /* Entfernt die Unterstreichung */
  cursor: text !important; /* Macht den Cursor zu einem Text-Cursor */
}

.Link-root:link,
.Link-root:visited,
.Link-root:hover,
.Link-root:focus,
.Link-root:active {
  color: 'black' !important;
  text-decoration: none !important;
  cursor: text !important; /* Macht den Cursor zu einem Text-Cursor */
}